<mat-toolbar>
  @if (isMobileScreen() === true) {
  <button
    type="button"
    data-testid="sidenav-toggle-button"
    mat-icon-button
    (click)="navDrawer.toggle()"
  >
    <span class="cdk-visually-hidden">Toggle main navigation drawer</span>
    <mat-icon>menu</mat-icon>
  </button>
  }
  <todo-logo />
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    data-testid="sidenav"
    #navDrawer
    [fixedInViewport]="isMobileScreen() === true"
    [opened]="isMobileScreen() === false"
    [mode]="isMobileScreen() === true ? 'over' : 'side'"
    autoFocus="false"
  >
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
